/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */

:root {
  --main-text-color-white: #ffffff;
  --main-text-color-black: #101010;
  --first-accent-color: #ecb97d;
  --second-accent-color: #dd9745;

  --blue-text-color: #70a1e7;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
}

/* -----------------------section-hero-------------------------- */

.section-hero {
  background-image: url(../images/hero-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 30px;
  padding-bottom: 28px;
}

.header-info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 141px;
}

.header-time-info {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 12.1px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.header-start-info {
  color: var(--main-text-color-white);
  text-align: right;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 12.1px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.header-accent-color {
  color: var(--first-accent-color);
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
}

.hero-main-title {
  color: var(--first-accent-color);
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 8px;
}

.hero-main-text {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.hero-main-price {
  background: rgba(221, 151, 69, 0.7);

  width: 100%;

  padding-left: 28px;
  padding-right: 28px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.hero-price-span {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  text-decoration: line-through;
  text-transform: uppercase;
}

/* -----------------------section-one-------------------------- */

.section-one {
  padding-top: 40px;
  padding-bottom: 60px;

  position: relative;
}

.run-string-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 20px;
  overflow-x: hidden;

  margin-bottom: 16px;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

.run-string-container:before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.run-string-container:after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.marquee {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.run-string {
  white-space: nowrap;
}

.run-string {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0;
}

.run-string-accent {
  color: var(--second-accent-color);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.link-button {
  display: block;

  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 17.6px */
  text-transform: uppercase;

  border-radius: 30px;
  background: var(--caramel, #dd9745);

  padding: 14px 60px;

  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  width: 279px;
}

.section-one-title {
  color: var(--main-text-color-black);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;

  width: 231px;
}

.one-title-accent {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.one-item-text {
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.section-one .image {
  margin: 0 auto 40px;
}

.sell-here {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section-one-sale {
  color: var(--blue-text-color);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 21px;
}

/* --------------------timer------------------ */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown-number {
  display: inline-block;
  text-align: center;

  border-radius: 8px;
  background: var(--first-accent-color);
  padding: 10px 10px;
  width: 72px;
}

.countdown-time {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.countdown-doubledot {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  /* margin-right: 5px; */
}

/* --------------------section-two------------------- */

.section-two {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/section-two-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.two-quest-list {
  margin-top: 0;
  margin-bottom: 62px;
}

.two-quest-item {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 15.4px */

  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  width: 277px;
}

.two-quest-item:last-child {
  margin-bottom: 0;
  width: 230px;
}

.quest-item-accent {
  color: var(--blue-text-color);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.two-privilege-list {
  border-radius: 10px;
  background: var(--main-text-color-white);

  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 16px;
  padding-left: 28px;

  margin-top: 0;
  margin-bottom: 28px;

  /* list-style: circle; */
}

.two-privilege-item {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */

  margin-bottom: 10px;
}

.two-privilege-item:last-child {
  margin-bottom: 0;
}

.two-text-one {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 16px;
}

.text-one-accent {
  color: var(--blue-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.two-text-two {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0 auto;
}

.text-two-accent {
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* --------------------section-three------------------- */

.section-three {
  padding-top: 60px;
  padding-bottom: 60px;

  position: relative;
}

.three-title {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 30px;
}

.three-accent-one {
  color: var(--second-accent-color);
}

.three-accent-two {
  font-size: 24px;
}

.three-how-list {
  margin-top: 0;
  margin-bottom: 44px;
}

.how-list-item {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;

  width: 211px;
}

.how-list-item:last-child {
  margin-bottom: 0;
}

.section-three-image {
  position: absolute;
  top: 111px;
  right: 0;
  z-index: -1;
}

.three-text {
  font-size: 14px;
  font-style: normal;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 60px;
}

.three-text-accent {
  color: var(--second-accent-color);
  font-weight: 700;
}

.three-text-container {
  border-radius: 10px;
  border: 3px solid #b5caea;

  padding: 20px 9px;
  margin-top: 0;
  margin-bottom: 41px;
}

.three-text-item {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 13px;
}

.three-text-item:last-child {
  margin-bottom: 0;
}

.three-text-item span {
  font-weight: 600;
}

.three-text-item .three-accent {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 101.9%;
}

.three {
  padding: 14px 64px;
  margin-bottom: 0;
}

/* --------------------section-four------------------- */

.section-four {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--light-blue, #eef5ff);
}

.four-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-one {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-one .accent {
  font-weight: 700;
  color: var(--blue-text-color);
}

.four-text-two {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-two .accent {
  font-weight: 600;
}

.four-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-three {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */

  margin-top: 0;
  margin-bottom: 60px;
}

.four-text-three .accent-two {
  color: var(--blue-text-color);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;

  margin-bottom: 60px;
}

.four-three-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-list {
  border-radius: 10px;
  background: var(--main-text-color-white);

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 8px;

  margin-top: 0;
  margin-bottom: 0;
}

.four-list-item {
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */

  margin-top: 0;
  margin-bottom: 12px;
}

.four-list-item:last-child {
  margin-bottom: 0;
}

/* --------------------section-five------------------- */

.section-five {
  padding-top: 60px;

  position: relative;
}

.five-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 44px;

  width: 228px;
}

.five-three-title {
  color: var(--second-accent-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;

  margin-right: 26px;

  text-align: right;
}

.five-list-item {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: 0;

  width: 195px;
}

.five-list-item span {
  font-weight: 600;
}

.section-five .image {
  position: absolute;
  top: 125px;
  left: 0;
  z-index: -1;
}

.five-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 8px;
}

.five-text-bold {
  font-weight: 600;
}

.five-text-accent {
  color: var(--blue-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 260px;

  margin-top: 0;
  margin-bottom: 60px;
}

.five-four-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
}

.five-list-result {
  border-radius: 10px;
  background: #eef5ff;

  padding: 24px 11px;

  margin-top: 0;
  margin-bottom: 16px;
}

.list-result-icon {
  stroke: #70a1e7;
  fill: #70a1e7;

  margin-right: 8px;
}

.five-result-item {
  display: flex;
  align-items: center;
}

.list-result-text {
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */

  width: 268px;

  margin-top: 0;
  margin-bottom: 22px;
}

.list-result-text:last-child {
  margin-bottom: 0;
}

.five-last-text {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  width: 299px;
}

.last-text-accent {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* --------------------section-six------------------- */

.section-six {
  padding-top: 60px;
  padding-bottom: 0;

  background-image: url(../images/section-six-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.six-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.six-list-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.six-item-accent {
  font-weight: 600;
}

/* --------------------section-seven------------------- */

.section-seven {
  padding-top: 60px;
  padding-bottom: 60px;
}

.seven-table {
  border-collapse: collapse;
  background-color: #eef5ff;
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
}

.seven-table span {
  font-weight: 600;
}

.seven-style {
  text-decoration: line-through;
  font-weight: 400px;
}

.seven-table tr,
.seven-table th,
.seven-table td {
  /* border-top: 1px solid var(--blue, #70a1e7);
  border-left: 1px solid var(--blue, #70a1e7);
  background: rgba(255, 255, 255, 0.05); */
  border: 1px solid #70a1e7;
  padding: 10px 12px;
}

.seven-table th {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */

  width: 166px;
}

.seven-table td {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.six-last-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.six-last-text span {
  font-weight: 600;
}

.six-blue-accent {
  color: var(--blue-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.six-blue-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

/* --------------------section-eight------------------- */

.section-eight {
  padding-top: 0;
  padding-bottom: 60px;
}

.eight-img-name {
  margin-top: 0;
  margin-bottom: 41px;
}

.eight-img-name img {
  margin-left: auto;
  margin-right: auto;
}

.eight-text-gifts {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  width: 299px;

  margin-top: 0;
  margin-bottom: 20px;
}

.eight-text-gifts span {
  color: var(--second-accent-color);
  font-weight: 700;
}

.eight-gifts {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.eight-margin {
  margin-bottom: 60px;
}

/* --------------------section-nine------------------- */

.section-nine {
  padding-top: 0;
  padding-bottom: 60px;
}

.nine-title {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.section-nine .question {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 10px;
  background: var(--light-blue, #eef5ff);

  padding: 16px 12px;
}

.section-nine .content {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .nine-svg {
  stroke: #70a1e7;
  fill: #70a1e7;
} */

.question-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-name p {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

.nine-svg {
  transform: rotate(45deg);

  transition: transform 250ms linear;
}
.question.open .nine-svg {
  transform: rotate(0);
}

.question {
  padding: 5px 20px;
  border-bottom: 1px solid #d1d1d1;
  max-width: 100%;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  font-size: 19px;
  font-weight: 600;
}
.question span {
  float: right;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 30px;
  height: 30px;
}
.content {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  display: none;
  padding-top: 16px;
}

.question:last-child {
  margin-bottom: 0;
}

/* --------------------section-ten------------------- */

.section-ten {
  padding-top: 0;
  padding-bottom: 100px;
}

.ten-wrapper {
  border-radius: 10px;
  border: 3px solid #b5caea;

  padding: 20px 24px;

  margin-top: 0;
  margin-bottom: 40px;
}

.ten-text-one {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 8px;
}

.ten-text-two {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 8px;

  width: 271px;
}

.ten-text-three {
  color: var(--second-accent-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

.section-ten .run-string-accent {
  color: var(--blue-text-color);
}

.button-ten {
  padding: 14px 53px;
  background-color: var(--blue-text-color);
}

/* --------------------section-footer------------------- */

.footer {
  background-color: var(--main-text-color-black);
  padding: 20px 0;

  position: relative;
}

.footer-text {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 47px;
}

.footer-list {
  margin-top: 0;
  margin-bottom: 40px;
}

.footer-list-item {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.footer-deal-link {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-contact {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 47px;
}

.footer-mail-icon {
  margin-right: 5px;
}

.footer-mail {
  color: var(--main-text-color-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-social-list {
  position: absolute;
  top: 112px;
  right: 28px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer-text-flp {
  color: var(--main-text-color-white);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}
