/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */

:root {
  --main-text-color-white: #ffffff;
  --main-text-color-black: #101010;
  --first-accent-color: #ecb97d;
  --second-accent-color: #dd9745;

  --blue-text-color: #70a1e7;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 136px;
    padding-right: 136px;
  }
}

.link {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
}

/* -----------------------section-hero-------------------------- */

.section-hero {
  background-image: url(../images/hero-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 30px;
  /* padding-top: 0; */
  padding-bottom: 28px;

  width: 100%;

  position: relative;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: url(../images/2x/hero-background-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: url(../images/image-tablet/hero-background-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: url(../images/image-tablet/hero-background-tablet-2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .section-hero {
    padding-top: 40px;
    /* padding-top: 0; */
    padding-bottom: 64px;

    background-image: url(../images/image-desktop/hero-background-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: url(../images/image-desktop/hero-background-desktop-2x.jpg);
    }
  }
}

.header-info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 141px;
}

.header-time-info {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 12.1px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.header-start-info {
  color: var(--main-text-color-white);
  text-align: right;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 12.1px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.header-accent-color {
  color: var(--first-accent-color);
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
}

.hero-main-title {
  color: var(--first-accent-color);
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 8px;

  max-width: 320px;
}

.hero-description-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-description-list .list-item {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  max-width: 300px;
}

.hero-description-list .list-item:nth-child(1) {
  font-weight: 700;
  max-width: 310px;
}

.hero-description-list .list-item:nth-child(3) {
  max-width: 320px;
}

.hero-main-text {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.hero-accent {
  background: rgba(221, 151, 69, 0.7);
  height: 34px;
  width: 100%;
}

.hero-main-price {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
}

.hero-price-span {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  text-decoration: line-through;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-main-price {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 60px;
  }

  .hero-main-text {
    max-width: 440px;
  }

  .hero-main-title {
    font-size: 46px;
    max-width: 560px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-main-price {
    max-width: 1440px;
    padding-left: 136px;
  }

  .header-time-info {
    font-size: 22px;
  }

  .header-start-info {
    font-size: 22px;
  }

  .header-accent-color {
    font-size: 22px;
  }

  .hero-main-title {
    font-size: 86px;
    max-width: 800px;
  }

  .hero-main-text {
    font-size: 20px;
    max-width: 520px;

    margin-bottom: 48px;
  }

  .hero-main-price {
    font-size: 24px;
  }

  .hero-price-span {
    font-size: 24px;
  }
}
/* -----------------------section-one-------------------------- */

.section-one {
  padding-top: 40px;
  padding-bottom: 60px;

  position: relative;
}

.run-string-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 20px;
  overflow-x: hidden;

  margin-bottom: 16px;

  z-index: -1;
}

.marquee {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

.run-string-container:before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.run-string-container:after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.marquee {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.run-string {
  white-space: nowrap;
}

.run-string {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0;
}

.run-string-accent {
  color: var(--second-accent-color);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.modal-button {
  display: block;

  text-align: center;

  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 17.6px */
  text-transform: uppercase;

  border-radius: 30px;
  background: var(--caramel, #dd9745);

  padding: 14px;

  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  max-width: 279px;
  width: 100%;

  border: none;

  cursor: pointer;

  animation: glowing 1300ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #dd9745;
    box-shadow: 0 0 5px #f8c285;
  }
  50% {
    background-color: #70a1e7;
    box-shadow: 0 0 20px #70a1e7;
  }
  100% {
    background-color: #dd9745;
    box-shadow: 0 0 5px #f8c285;
  }
}

.button-info-text {
  color: var(--main-text-color-black);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-left: auto;
  margin-right: auto;

  max-width: 280px;
}

.button-info-text span {
  color: var(--second-accent-color);
  font-weight: 700;
}

.section-one-title {
  color: var(--main-text-color-black);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;

  width: 231px;
}

.one-title-accent {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.one-item-text {
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.section-one .image {
  margin: 0 auto 40px;
}

.sell-here {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section-one-sale {
  color: var(--blue-text-color);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .section-one-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-one-item {
    width: 319px;
  }
  .one-item-text {
    width: 235px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .run-string-container {
    height: 30px;
  }

  .run-string {
    font-size: 24px;
  }
  .run-string-accent {
    font-size: 24px;
  }

  .modal-button {
    width: 400px;
    padding: 17px 60px;
  }

  .section-one-title {
    width: 100%;
  }

  .section-one-list {
    justify-content: space-around;
  }

  .section-one-title {
    font-size: 24px;
  }

  .one-title-accent {
    font-size: 24px;
  }

  .one-item-text {
    font-size: 20px;
    width: 319px;
  }

  .section-one-sale {
    font-size: 20px;
  }
}
/* --------------------timer------------------ */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown-number {
  display: inline-block;
  text-align: center;

  border-radius: 8px;
  background: var(--first-accent-color);
  padding: 10px 10px;
  width: 72px;
}

.countdown-time {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.countdown-doubledot {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  /* margin-right: 5px; */
}

@media screen and (min-width: 1440px) {
  .countdown-number {
    width: 112px;
  }

  .countdown-time {
    font-size: 55px;
  }
}

/* --------------------section-two------------------- */

.section-two {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/section-two-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.two-quest-list {
  margin-top: 0;
  margin-bottom: 62px;
}

.two-quest-item {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 15.4px */

  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  width: 277px;
}

@media screen and (min-width: 768px) {
  .two-quest-item {
    width: 536px;
  }
}

.two-quest-item:last-child {
  margin-bottom: 0;
}

.quest-item-accent {
  color: var(--blue-text-color);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.privilege-wrapper {
  border-radius: 10px;
  background: var(--main-text-color-white);
}

.two-privilege-list {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 16px;
  padding-left: 28px;

  margin-top: 0;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .two-privilege-list {
    width: 326px;
    margin-left: auto;
    margin-right: auto;
  }
}

.two-privilege-item {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */

  margin-bottom: 10px;
}

.two-privilege-item:last-child {
  margin-bottom: 0;
}

.two-text-one {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 16px;
}

.text-one-accent {
  color: var(--blue-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.two-text-two {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0 auto;
}

.text-two-accent {
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 1440px) {
  .privilege-wrapper {
    width: 714px;
    margin-right: auto;
    margin-left: auto;
  }

  .two-quest-item {
    font-size: 18px;
  }

  .quest-item-accent {
    font-size: 18px;
  }

  .two-privilege-item {
    font-size: 20px;
    width: 385px;
  }

  .two-text-one {
    font-size: 18px;
  }

  .text-one-accent {
    font-size: 18px;
  }

  .text-two-accent {
    font-size: 24px;
  }

  .two-text-two {
    font-size: 18px;
  }
}

/* --------------------section-three------------------- */

.fix-img {
  position: relative;
}

.section-three {
  padding-top: 60px;
  padding-bottom: 60px;

  /* position: relative; */
}

.three-title {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 30px;
}

.three-accent-one {
  color: var(--second-accent-color);
}

.three-accent-two {
  font-size: 24px;
}

.three-how-list {
  margin-top: 0;
  margin-bottom: 44px;
}

.how-list-item {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;

  width: 211px;
}

.how-list-item:last-child {
  margin-bottom: 0;
}

.section-three-image {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: -1;
}

.three-text {
  font-size: 14px;
  font-style: normal;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 60px;
}

.three-text-accent {
  color: var(--second-accent-color);
  font-weight: 700;
}

.three-text-container {
  border-radius: 10px;
  border: 3px solid #b5caea;

  padding: 20px 9px;
  margin-top: 0;
  margin-bottom: 41px;
}

.three-text-item {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 13px;
}

.three-text-item:last-child {
  margin-bottom: 0;
}

.three-text-item span {
  font-weight: 600;
}

.three-text-item .three-accent {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 101.9%;
}

.three {
  padding: 14px 64px;
  margin-bottom: 0;
}

.section-three-image-tablet {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.section-three-image-desktop {
  display: none;

  position: absolute;
  top: 0;
  right: 300px;
  z-index: -1;
}

.section-three-image-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .three-title {
    width: 469px;
  }

  .section-three-image {
    display: none;
  }

  .section-three-image-tablet {
    display: block;
  }

  .how-list-item {
    font-size: 20px;
    width: 374px;
  }

  .three-text {
    width: 374px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .section-three {
    padding-top: 124px;
    padding-bottom: 96px;
  }

  .three-title {
    font-size: 22px;
    margin-bottom: 64px;
  }

  .three-accent-two {
    font-size: 32px;
  }

  .three-text {
    font-size: 24px;
    width: 536px;
  }

  .section-three-image-tablet {
    display: none;
  }

  .section-three-image-desktop {
    display: block;
  }

  .three-how-list {
    margin-bottom: 82px;
  }

  .three-text {
    margin-bottom: 124px;
  }

  .three-text-container {
    width: 788px;
    margin-left: auto;
    margin-right: auto;
  }

  .three-text-item {
    width: 676px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* --------------------section-four------------------- */

.section-four {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--light-blue, #eef5ff);
}

.four-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-one {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-one .accent {
  font-weight: 700;
  color: var(--blue-text-color);
}

.four-text-two {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-two .accent {
  font-weight: 600;
}

.four-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-text-three {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */

  margin-top: 0;
  margin-bottom: 60px;
}

.four-text-three .accent-two {
  color: var(--blue-text-color);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;

  margin-bottom: 60px;
}

.four-three-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.four-list {
  border-radius: 10px;
  background: var(--main-text-color-white);

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 8px;

  margin-top: 0;
  margin-bottom: 0;
}

.four-list-item {
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */

  margin-top: 0;
  margin-bottom: 12px;
}

.four-list-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1440px) {
  .four-title {
    font-size: 26px;
  }

  .four-text-one {
    font-size: 18px;
  }

  .four-text-one .accent {
    font-size: 18px;
  }

  .four-text-two {
    font-size: 18px;
  }

  .four-text {
    font-size: 18px;
  }

  .four-text-three {
    font-size: 18px;
  }

  .accent-two {
    font-size: 20px;
  }

  .four-three-title {
    font-size: 18px;
    width: 367px;
    margin-left: auto;
    margin-right: auto;
  }

  .four-list {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

  .four-list-item {
    font-size: 16px;
    width: 586px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* --------------------section-five------------------- */

.fix-five {
  position: relative;
}

.section-five {
  padding-top: 60px;
}

.five-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 44px;

  width: 228px;
}

.five-three-title {
  color: var(--second-accent-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;

  margin-right: 26px;

  text-align: right;
}

.five-list-item {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: 0;

  width: 195px;
}

.five-list-item span {
  font-weight: 600;
}

.section-five .image {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: -1;
}

.section-five .image-two {
  display: none;

  position: absolute;
  top: 60px;
  left: 0;
  z-index: -1;
}

.image-background-five {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: -1;
}

.five-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 8px;
}

.five-text-bold {
  font-weight: 600;
}

.five-text-accent {
  color: var(--blue-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 260px;

  margin-top: 0;
  margin-bottom: 60px;
}

.five-four-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
}

.five-list-result {
  border-radius: 10px;
  background: #eef5ff;

  padding: 24px 11px;

  margin-top: 0;
  margin-bottom: 16px;
}

.list-result-icon {
  stroke: #70a1e7;
  fill: #70a1e7;

  margin-right: 8px;
}

.five-result-item {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 22px;
}

.five-result-item:last-child {
  margin-bottom: 0;
}

.list-result-text {
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */

  width: 268px;

  margin-top: 0;
  margin-bottom: 0;
}

.five-last-text {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  width: 299px;
}

.last-text-accent {
  color: var(--second-accent-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image-background-five {
  display: none;
}

@media screen and (min-width: 768px) {
  .five-title {
    width: 100%;
    margin-bottom: 80px;
  }

  .section-five .image {
    display: none;
  }

  .section-five .image-two {
    display: block;
  }

  .five-three-title {
    margin-right: 176px;
  }

  .five-list {
    margin-bottom: 125px;
  }

  .five-list-item {
    width: 343px;
    font-size: 16px;
  }

  .five-text-accent {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .section-five .image-two {
    display: none;
  }

  .image-background-five {
    display: block;
    left: 90px;
  }

  .five-title {
    font-size: 26px;
  }

  .five-three-title {
    font-size: 24px;
    margin-right: 0;
    text-align: center;
  }

  .five-list-item {
    font-size: 16px;
  }

  .five-list {
    width: 371px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  .five-list-item {
    width: 371px;
  }

  .five-text {
    font-size: 18px;
    width: 572px;
    margin-left: 400px;
  }

  .five-text-accent {
    font-size: 18px;
    width: 572px;
    margin-left: 400px;
  }

  .five-four-title {
    font-size: 22px;
  }

  .five-list-result {
    width: 771px;
    margin-left: auto;
    margin-right: auto;
  }

  .list-result-text {
    font-size: 18px;
    width: 657px;
  }

  .five-last-text {
    font-size: 20px;
    width: 771px;
  }

  .last-text-accent {
    font-size: 20px;
  }
}
/* --------------------section-six------------------- */

.section-six {
  padding-top: 60px;
  padding-bottom: 0;

  background-image: url(../images/section-six-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.six-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.six-list-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.six-item-accent {
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .six-title {
    font-size: 26px;
  }

  .six-list {
    width: 970px;
  }
}
/* --------------------section-seven------------------- */

.section-seven {
  padding-top: 60px;
  padding-bottom: 60px;
}

.seven-table {
  border-collapse: collapse;
  background-color: #eef5ff;
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
}

.seven-table span {
  font-weight: 600;
}

.seven-style {
  text-decoration: line-through;
  font-weight: 400px;
}

.seven-table tr,
.seven-table th,
.seven-table td {
  /* border-top: 1px solid var(--blue, #70a1e7);
  border-left: 1px solid var(--blue, #70a1e7);
  background: rgba(255, 255, 255, 0.05); */
  border: 1px solid #70a1e7;
  padding: 10px 12px;
}

.seven-table th {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */

  width: 200px;
}

.seven-table td {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.six-last-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 12px;
}

.six-last-text span {
  font-weight: 600;
}

.six-blue-accent {
  color: var(--blue-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.six-blue-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1440px) {
  .seven-table th {
    font-size: 16px;
  }

  .seven-table td {
    font-size: 14px;
  }

  .six-last-text {
    font-size: 18px;
  }

  .six-blue-text {
    font-size: 18px;
  }

  .six-blue-accent {
    font-size: 20px;
  }
}

/* --------------------section-eight------------------- */

.section-eight {
  padding-top: 0;
  padding-bottom: 60px;
}

.eight-img-name {
  margin-top: 0;
  margin-bottom: 41px;
}

.eight-img-name img {
  margin-left: auto;
  margin-right: auto;
}

.eight-text-gifts {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.eight-text-gifts span {
  color: var(--second-accent-color);
  font-weight: 700;
}

.eight-gifts {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.eight-margin {
  margin-bottom: 60px;
}

.eight-item-text {
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .section-eight-list {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .eight-img-name {
    margin-left: auto;
    margin-right: auto;

    width: 1168px;
  }

  .eight-text-gifts {
    font-size: 24px;
  }

  .eight-item-text {
    font-size: 20px;
  }
}
/* --------------------section-reviews------------------- */

.reviews {
  padding-top: 0;
  padding-bottom: 60px;
}

.reviews-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  color: var(--main-text-color-black);

  margin-top: 0;
  margin-bottom: 20px;
}

.siema {
  margin-bottom: 12px;
}

.siema .wrapper {
  width: 100%;
  height: 208px;
  background-color: #eef5ff;
  padding: 16px 12px;
  border-radius: 10px;

  display: flex;
  align-items: center;
}

.siema .wrapper p {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--main-text-color-black);

  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}

.siema .wrapper .more-info {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  width: 295px;

  margin-left: auto;
  margin-right: auto;

  text-decoration: none;

  color: var(--main-text-color-black);
}

.reviews-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.reviews button {
  background-color: transparent;
  border: none;
}

.reviews-button {
  fill: #dd9745;
  transition: transform 100ms linear;
}

.reviews-button:hover {
  transform: scale(1.2);
}

/* --------------------section-nine------------------- */

.isOpen .content {
  display: block;
}

.section-nine {
  padding-top: 0;
  padding-bottom: 60px;
}

.nine-title {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.section-nine .question {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 10px;
  background: var(--light-blue, #eef5ff);

  padding: 16px 12px;
}

.section-nine .content {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.question-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-name p {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

.nine-svg {
  transform: rotate(45deg);

  transition: transform 250ms linear;
}
.question.open .nine-svg {
  transform: rotate(0);
}

.question {
  padding: 5px 20px;
  border-bottom: 1px solid #d1d1d1;
  max-width: 100%;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  font-size: 19px;
  font-weight: 600;
}
.question span {
  float: right;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 30px;
  height: 30px;
}
.content {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  display: none;
  padding-top: 16px;
}

.question:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .siema .wrapper {
    padding: 20px 120px;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .nine-title {
    font-size: 26px;
  }

  .question-name p {
    font-size: 18px;
  }

  .content {
    font-size: 16px;
  }

  .question {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

  .siema .wrapper {
    width: 746px;
    padding: 20px 100px;

    margin-left: auto;
    margin-right: auto;
  }

  .siema .wrapper p {
    font-size: 16px;
  }
}
/* --------------------section-ten------------------- */

.section-ten {
  padding-top: 0;
  padding-bottom: 100px;
}

.ten-wrapper {
  border-radius: 10px;
  border: 3px solid #b5caea;

  padding: 20px 24px;

  margin-top: 0;
  margin-bottom: 40px;
}

.ten-text-one {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 8px;
}

.ten-text-two {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 8px;
}

.ten-text-three {
  color: var(--second-accent-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

.section-ten .run-string-accent {
  color: var(--blue-text-color);
}

.button-ten {
  padding: 14px 53px;
  background-color: var(--blue-text-color);
}

@media screen and (min-width: 1440px) {
  .ten-wrapper {
    width: 771px;
    margin-left: auto;
    margin-right: auto;
  }

  .ten-text-one {
    font-size: 18px;
  }

  .ten-text-two {
    font-size: 18px;
  }

  .ten-text-three {
    font-size: 18px;
  }
}
/* --------------------section-footer------------------- */

.footer {
  background-color: var(--main-text-color-black);
  padding: 20px 0;

  position: relative;
}

.footer-text {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 47px;
}

.footer-list {
  margin-top: 0;
  margin-bottom: 40px;
}

.footer-list-item {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.footer-deal-link {
  color: var(--main-text-color-white);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-contact {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 47px;
}

.footer-mail-icon {
  margin-right: 5px;
}

.footer-mail {
  color: var(--main-text-color-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-social-list {
  position: absolute;
  top: 112px;
  right: 28px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer-text-flp {
  color: var(--main-text-color-white);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  padding-top: 20px;
  padding-bottom: 114px;

  opacity: 1;
  visibility: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  /* width: calc(100% - 28 px); */

  width: 90%;

  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-text {
    font-size: 18px;
    width: 771px;
  }

  .footer-deal-link {
    font-size: 16px;
  }

  .footer-mail {
    font-size: 16px;
  }

  .footer-text-flp {
    font-size: 14px;
  }

  .footer-social-list {
    top: 118px;
    right: 136px;
  }

  .footer-social-icon {
    width: 30px;
    height: 30px;
  }
}

.close-button {
  position: absolute;
  top: 40px;
  right: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
  border: none;
}

/* halloween */
/* 
[class*='spider'] {
  position: absolute;
  height: 40px;
  width: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 40px 0 0 0;
  background: #110d04;
}
[class*='spider'] *,
[class*='spider']:before,
[class*='spider']:after,
[class*='spider'] :after,
[class*='spider'] :before {
  position: absolute;
  content: '';
}
[class*='spider']:before {
  width: 1px;
  background: #aaaaaa;
  left: 50%;
  top: -320px;
  height: 320px;
}
[class*='spider'] .eye {
  top: 16px;
  height: 14px;
  width: 12px;
  background: #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
[class*='spider'] .eye:after {
  top: 6px;
  height: 5px;
  width: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: black;
}
[class*='spider'] .eye.left {
  left: 14px;
}
[class*='spider'] .eye.left:after {
  right: 3px;
}
[class*='spider'] .eye.right {
  right: 14px;
}
[class*='spider'] .eye.right:after {
  left: 3px;
}
[class*='spider'] .leg {
  top: 6px;
  height: 12px;
  width: 14px;
  border-top: 2px solid #110d04;
  border-left: 1px solid #110d04;
  border-right: 1px solid #110d04;
  border-bottom: 1px solid #110d04;
  z-index: 1;
}
[class*='spider'] .leg.left {
  left: -8px;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -moz-transform: rotate(36deg) skewX(-20deg);
  -ms-transform: rotate(36deg) skewX(-20deg);
  -webkit-transform: rotate(36deg) skewX(-20deg);
  transform: rotate(36deg) skewX(-20deg);
  border-left: 2px solid #110d04;
  -moz-border-radius: 60% 0 0 0;
  -webkit-border-radius: 60%;
  border-radius: 60% 0 0 0;
  -moz-animation: legs-wriggle-left 1s 0s infinite;
  -webkit-animation: legs-wriggle-left 1s 0s infinite;
  animation: legs-wriggle-left 1s 0s infinite;
}
[class*='spider'] .leg.right {
  right: -8px;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: rotate(-36deg) skewX(20deg);
  -ms-transform: rotate(-36deg) skewX(20deg);
  -webkit-transform: rotate(-36deg) skewX(20deg);
  transform: rotate(-36deg) skewX(20deg);
  border-right: 2px solid #110d04;
  -moz-border-radius: 0 60% 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 60% 0 0;
  -moz-animation: legs-wriggle-right 1s 0.2s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.2s infinite;
  animation: legs-wriggle-right 1s 0.2s infinite;
}
[class*='spider'] .leg:nth-of-type(2) {
  top: 14px;
  left: -11px;
  -moz-animation: legs-wriggle-left 1s 0.8s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.8s infinite;
  animation: legs-wriggle-left 1s 0.8s infinite;
}
[class*='spider'] .leg:nth-of-type(3) {
  top: 22px;
  left: -12px;
  -moz-animation: legs-wriggle-left 1s 0.2s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.2s infinite;
  animation: legs-wriggle-left 1s 0.2s infinite;
}
[class*='spider'] .leg:nth-of-type(4) {
  top: 31px;
  left: -10px;
  -moz-animation: legs-wriggle-left 1s 0.4s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.4s infinite;
  animation: legs-wriggle-left 1s 0.4s infinite;
}
[class*='spider'] .leg:nth-of-type(6) {
  top: 14px;
  right: -11px;
  -moz-animation: legs-wriggle-right 1s 0.4s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.4s infinite;
  animation: legs-wriggle-right 1s 0.4s infinite;
}
[class*='spider'] .leg:nth-of-type(7) {
  top: 22px;
  right: -12px;
  -moz-animation: legs-wriggle-right 1s 0.7s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.7s infinite;
  animation: legs-wriggle-right 1s 0.7s infinite;
}
[class*='spider'] .leg:nth-of-type(8) {
  top: 31px;
  right: -10px;
  -moz-animation: legs-wriggle-right 1s 0.3s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.3s infinite;
  animation: legs-wriggle-right 1s 0.3s infinite;
}

.spider_0 {
  right: 10%;
  -moz-animation: spider-move-0 5s infinite;
  -webkit-animation: spider-move-0 5s infinite;
  animation: spider-move-0 5s infinite;
} */

/* halloween animation */
/* 
@-moz-keyframes legs-wriggle-left {
  0%,
  100% {
    -moz-transform: rotate(36deg) skewX(-20deg);
    transform: rotate(36deg) skewX(-20deg);
  }
  25%,
  75% {
    -moz-transform: rotate(15deg) skewX(-20deg);
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    -moz-transform: rotate(45deg) skewX(-20deg);
    transform: rotate(45deg) skewX(-20deg);
  }
}
@-webkit-keyframes legs-wriggle-left {
  0%,
  100% {
    -webkit-transform: rotate(36deg) skewX(-20deg);
    transform: rotate(36deg) skewX(-20deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(15deg) skewX(-20deg);
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    -webkit-transform: rotate(45deg) skewX(-20deg);
    transform: rotate(45deg) skewX(-20deg);
  }
}
@keyframes legs-wriggle-left {
  0%,
  100% {
    -moz-transform: rotate(36deg) skewX(-20deg);
    -ms-transform: rotate(36deg) skewX(-20deg);
    -webkit-transform: rotate(36deg) skewX(-20deg);
    transform: rotate(36deg) skewX(-20deg);
  }
  25%,
  75% {
    -moz-transform: rotate(15deg) skewX(-20deg);
    -ms-transform: rotate(15deg) skewX(-20deg);
    -webkit-transform: rotate(15deg) skewX(-20deg);
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    -moz-transform: rotate(45deg) skewX(-20deg);
    -ms-transform: rotate(45deg) skewX(-20deg);
    -webkit-transform: rotate(45deg) skewX(-20deg);
    transform: rotate(45deg) skewX(-20deg);
  }
}
@-moz-keyframes legs-wriggle-right {
  0%,
  100% {
    -moz-transform: rotate(-36deg) skewX(20deg);
    transform: rotate(-36deg) skewX(20deg);
  }
  25%,
  75% {
    -moz-transform: rotate(-15deg) skewX(20deg);
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    -moz-transform: rotate(-45deg) skewX(20deg);
    transform: rotate(-45deg) skewX(20deg);
  }
}
@-webkit-keyframes legs-wriggle-right {
  0%,
  100% {
    -webkit-transform: rotate(-36deg) skewX(20deg);
    transform: rotate(-36deg) skewX(20deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-15deg) skewX(20deg);
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    -webkit-transform: rotate(-45deg) skewX(20deg);
    transform: rotate(-45deg) skewX(20deg);
  }
}
@keyframes legs-wriggle-right {
  0%,
  100% {
    -moz-transform: rotate(-36deg) skewX(20deg);
    -ms-transform: rotate(-36deg) skewX(20deg);
    -webkit-transform: rotate(-36deg) skewX(20deg);
    transform: rotate(-36deg) skewX(20deg);
  }
  25%,
  75% {
    -moz-transform: rotate(-15deg) skewX(20deg);
    -ms-transform: rotate(-15deg) skewX(20deg);
    -webkit-transform: rotate(-15deg) skewX(20deg);
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    -moz-transform: rotate(-45deg) skewX(20deg);
    -ms-transform: rotate(-45deg) skewX(20deg);
    -webkit-transform: rotate(-45deg) skewX(20deg);
    transform: rotate(-45deg) skewX(20deg);
  }
}
@-moz-keyframes spider-move-0 {
  0%,
  100% {
    margin-top: 80px;
  }
  54% {
    margin-top: calc(100px + 33px);
  }
}
@-webkit-keyframes spider-move-0 {
  0%,
  100% {
    margin-top: 80px;
  }
  54% {
    margin-top: calc(100px + 33px);
  }
}
@keyframes spider-move-0 {
  0%,
  100% {
    margin-top: 80px;
  }
  54% {
    margin-top: calc(100px + 33px);
  }
} */

/* halloween header string */

/* .header-halloween-string {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  font-family: Montserrat;
  font-size: 40px;
  color: #fff;
  letter-spacing: 5px;
  background-color: black;

  width: 100%;

  margin-bottom: 30px;
}

.header-halloween-string > span {
  opacity: 0.15;
}
#I {
  opacity: 1;
  animation: flickerI 2s linear reverse infinite;
}
#I::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
  -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
  box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}
#L,
#G {
  animation: flickerLG 2s linear reverse infinite;
  position: relative;
}
#L::after,
#L::before {
  content: ' ';
  width: 100px;
  height: 100px;
  background: var(--white);
  position: absolute;
  top: -50%;
  left: 100%;
  border-radius: 100%;
  opacity: 0.05;
  filter: blur(10px);
}
#L::after {
  width: 200px;
  height: 200px;
  top: -150%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px);
}
#H {
  animation: flickerH 2s linear reverse infinite;
}

#T {
  animation: flickerH 2s linear reverse infinite;
}

@keyframes flickerI {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerLG {
  0% {
    opacity: 0.19;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.25;
  }
  15% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flickerH {
  0% {
    opacity: 0.15;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.12;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.15;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.12;
  }
  45% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.18;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes flickerT {
  0% {
    opacity: 0.01;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.07;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.06;
  }
  45% {
    opacity: 0.1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
} */
